body {
    font-family: 'Arial', sans-serif;
    background-image: url("/assets/img/background_Image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    width: 80px;
    height: auto;
    padding-left: 20px;
    padding: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    height: 100px;
    padding: 0 40px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: rgba(255, 255, 255, 0.633);
    z-index: 1000; 
}

header form {
    padding-right: 20px; 
}

header button {
    background: rgba(113, 208, 255, 0.8);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 5px;
}

header button:hover {
    background: rgba(52, 152, 219, 1);
}

main {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 8px 32px 0 rgba(198, 202, 255, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 100%;
    max-width: 800px;
    margin-top: 80px;
}

h1 {
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    color: white;
    margin-bottom: 10px;
}

.logout{
    margin-right: 50px;
}

input[type="text"], input[type="email"], input[type="number"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
    background: rgba(113, 208, 255, 0.8);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 100%;
}

input[type="submit"]:hover {
    background: rgba(52, 152, 219, 1);
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
